// ### Primary

$grayishblue: hsl(237, 18%, 59%);
$softred: hsl(345, 95%, 68%);

// ### Neutral

$white: hsl(0, 0%, 100%);
$darkdesaturatedblue: hsl(236, 21%, 26%);
$verydarkblue: hsl(235, 16%, 14%);
$verydarkblueblack: hsl(234, 17%, 12%);

// ### Body Copy

$fontsize: 24px;

// ### Font

$family: "Red Hat Text", sans-serif;
